﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <style>
        form {
            border-radius: 20px 20px 0 0;
            position: absolute;
            margin: auto;
            width: 50%;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            margin-bottom: 20px;
        }

        .ui-menu {
            list-style: none;
            padding: 2px;
            margin: 0;
            display: block;
            outline: none;
            width: 1069px !important;
            top: 179px !important;
            left: 128px !important;
        }
    </style>
</head>
<body>

    <div class="container mt-3">

        <div class="main" id="main_home">
            <div class='text-center'><img src="~/Img/arclogo.png" /></div>
            <br />
            <div class="input-group">
                <input type="text" class="form-control" autocomplete="off" id="searchTextField" placeholder="Search this blog">
                <div class="input-group-append">
                    <button class="btn btn-secondary" id="btn_Submit" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <br />
            <div class='text-center'>
                <button type="submit" class="btn btn-primary" id="btn_Search">Search</button>
                <button type="submit" class="btn btn-secondary" id="btn_Reset">Reset</button>
            </div>

        </div>
        <div id="suggestions"></div>

    </div>

</body>
</html>
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>*@
<script type="text/javascript">
    //google.maps.event.adddomlistener(window, 'load', function () {
    //    //var options = {
    //    //    types: ['(cities)'],
    //    //    componentrestrictions: { country: "in" }
    //    //};

    //    var input = document.getelementbyid('searchgoogle');
    //    var places = new google.maps.places.autocomplete(input);

    //});
    //function initialize() {
    //    var input = document.getElementById('searchTextField');
    //    new google.maps.places.Autocomplete(input);
    //}

    //google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function () {
        $('#searchTextField').on('keyup', function () {
            SearchSuggestions($("#searchTextField").val());
        })
    });

    $("#btn_Submit,#btn_Search").click(function () {
        debugger;
        if ($("#searchTextField").val().length > 0)
            window.location.replace('/Home/SearchSuggestions?serachText=' + $("#searchTextField").val());
        else
            $("#searchTextField").val('');

    });

    $("#btn_Reset").click(function () {
        $("#searchTextField").val('');

    });

    function SearchSuggestions(keyWord) {
        debugger;

        $.get('/Home/AutoComplete?serachText=' + keyWord).done(function (result) {
            debugger;
            var test = result;
            var items = [];
            $.each(result, function (key, val) {
                items.push(val.phrase);
            });
            $("#searchTextField").autocomplete({
                source: items
            });

        });

        //var url = "https://duckduckgo.com/ac/?q=" + keyWord;

        //var url = "https://duckduckgo.com/ac/?q=dhoni&callback=myCallback";
        //$.getJSON(url, function (myCallback) {
        //    debugger;
        //    $("#jsonp-response").html(JSON.stringify(jsonp, null, 2));
        //});

        //$.ajax({
        //    url: "https://duckduckgo.com/ac/?q=" + keyWord,
        //    dataType: 'jsonp',
        //    success: function (dataWeGotViaJsonp) {
        //        debugger;
        //        var text = '';
        //        var len = dataWeGotViaJsonp.length;
        //        for (var i = 0; i < len; i++) {
        //            twitterEntry = dataWeGotViaJsonp[i];
        //            text += '<p><img src = "' + twitterEntry.user.profile_image_url_https + '"/>' + twitterEntry['text'] + '</p>'
        //        }

        //    }
        //});




    }





</script>

